services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: "8608941242" 
      MYSQL_DATABASE: bank_app
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    image: srivignesh1609/bank-app:latest
    ports:
      - "8080:8080"
    depends_on:
      - db
      
volumes:
  mysql_data: