name: Build and Push BankApp to Docker Hub

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build WAR File
        run: mvn clean package 

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: srivignesh1609
          password: dckr_pat_1kpieil3Whk6REWeifGA1ykHHR0

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./Servlet
          push: true
          tags: srivignesh1609/bank-app:latest
